@define-color foreground #c9a36a;
@define-color background #000000;
@define-color accent #e68e0d;

/* workspace active/urgent marker - using primary/accent color for point notation */
#workspaces button.active {
    color: @accent;
    background-color: rgba(-1,0,0,0.0);
}

#workspaces button.active label {
    color: @accent;
}

#workspaces button.urgent {
    color: @accent;
    background-color: rgba(-1,0,0,0.0);
}
