@define-color foreground #c9a36a;
@define-color background #0c0c0c;
@define-color accent #e68e0d;

window#waybar {
    background-color: #000000;
}

/* workspace active/urgent marker - using primary/accent color for point notation */
#workspaces button.active {
    color: @accent;
    background-color: rgba(-1,0,0,0.0);
}

#workspaces button.active label {
    color: @accent;
}

#workspaces button.urgent {
    color: @accent;
    background-color: rgba(-1,0,0,0.0);
}
